@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BTK Academy Course Applying System</h1>
    <br/>
    <p></p><a class="btn btn-success" asp-area="" asp-controller="Applying" asp-action="Apply">Apply For BTK Academy One Of Course</a>.</p>

</div>asdasd
