@model List<Employee>

    <div class="display-3">
        Index 3
    </div>

    @foreach (Employee persons in Model){
        <div class="lead">
            <h6>@persons.FullName</h6>
            <p>@persons.Id</p>
            <p><strong>Age:</strong>@persons.Age</p>
            <hr />
        </div>
    }